* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: black;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

img {
    width: 200px;
    height: 200px;
    
}

h1 {
    color: white;
    font-size: 4rem;
    margin-bottom: 50px;
    font-weight: 900;
}

h2 {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

input {
    padding: 5px;
    width: 140px;
    font-size: 1em;
    background-color: dimgray;
    color: whitesmoke;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    margin-bottom: 25px;
}

input::placeholder {
    color: whitesmoke;
    font-weight: 400;
}

#min {
    margin-right: 20px;
}
input:hover {
    outline: none;
    background-color: gray;
    color: snow;
}

button {
    padding: 8px;
    width: 130px;
    border-radius: 5px;
    background-color: yellowgreen;
    color: whitesmoke;
    font-weight: 600;
    border: none;
}

button:hover {
    cursor: pointer;
    background-color: olivedrab;
}

p {
    color: white;
    font-size: 1.2rem;
    margin-top: 20px;
}
