* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --cor1: #E36119;
    --cor2: #E38519;
    --cor3: #00DB62;
}

body {
    background-image: url(assets/fundo.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#logo {
    z-index: 0;
    width: 90px;
    margin-top: 20px;
    position: fixed;
}

header {
    top: 40px;
    height: 60px; /* Isso define a altura do cabeçalho */
    margin: auto 10px;
    backdrop-filter: blur(2px);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center; /* Isso alinha verticalmente os elementos filhos */
}

nav p {
    font-size: 11px;
    padding: 2px;
    background-color: #e385194a;
    border-radius: 20px 0 0 20px;
    font-weight: 700;
}

.btn {
    font-size: 11px;
    padding: 5px;
    border: none;
    background-color: #e385194a;
    cursor: pointer;
    font-weight: 700;
}

.btn:last-child {
    border-radius: 0 20px 20px 0;
}

.btn:focus, .btn:hover {
    background-color: #e385197d;
    border-bottom: solid var(--cor3) 2px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    flex-direction: column;
    margin: auto;
}

.card {
    width: 270px;
    height: 300px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #e385194a;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(2px);
    margin-bottom: 25px;
    transition: all 0.2s ease-in-out;
}

.card:first-child {
    margin-top: 100px;
}

.card:hover {
    transform: translateY(-2px);
}

.card img {
    width: 250px;
    border-radius: 20px;
}

.descricao-card {
    width: 270px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    font-size: 20px;
}

.descricao-card h2 {font-weight: 400; color: #001;}

.descricao-card p {
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--cor3);
}

footer {
    color: #001;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 700;
    text-shadow: var(--cor3) 2px 2px 2px;
}

@media screen and (min-width: 480px) {
    nav p, .btn {font-size: 14px; padding: 10px;}
}

@media screen and (min-width: 620px) and (max-width: 900px) {
    main {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .card {
        flex: 1 0 50%; /* Isso divide a tela em 2 partes iguais */
        margin-top: 100px;
    }
}

@media screen and (min-width: 901px) {
    #logo {width: 120px;}
    
    main {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .card {
        flex: 1 0 33.3%; /* Isso divide a tela em 2 partes iguais */
        margin-top: 100px;
    }
}
    